.back-arrow {
  margin: 1rem;
  padding: 1rem;
  background-color: #4b4b4d;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.back-arrow:hover,
.back-arrow-icon:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.2s ease-in;
  color: rgba(145, 207, 1, 0.856);
}
.about-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  margin-block-start: 2rem;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem 10rem;
}
.text-area {
  grid-column: 1 / 5;
}
.about-text-1,
.about-text-2,
.about-text-3 {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  margin: 0.5em 2rem;
  max-width: 42.5rem;
}
.about-text-3 {
  padding-bottom: 80px;
}
.contact-section {
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;
  transform-origin: 0 0;
  flex-wrap: wrap;
}
@keyframes fade-in {
  0% {
    transform: translateY(40px);
  }
}
.contact-email {
  color: white;
  font-weight: 400;
  font-size: 25px;
}
.contact-twitter {
  color: white;
  font-weight: 500;
  font-size: 25px;
}
.contact-twitter-link {
  text-decoration: none;
  color: white;
  padding-left: 2px;
}
.contact-twitter-link:hover {
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
  color: rgba(145, 207, 1, 0.856);
}
.contact-button {
  font-size: 1.4rem;
  color: #e7e7e9;
  background: #111115;
  height: 4rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: 1s;
  animation: fade-in 0.9s ease forwards;
}
.contact-button:hover {
  transform: scale(1.02);
  background-color: rgba(145, 207, 1, 0.856);
  transition: 0.3s ease-in;
}

.setup-section {
  background-color: #111115;
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: white;
}
.pc-pic {
  padding: 1rem;
  margin-top: 1px;
  border-radius: 1.4rem;
  width: 180px;
  height: 130px;
}
.pc-text {
  padding: 0 1rem;
  text-align: center;
  margin-top: 2px;
  font-size: 1.1rem;
}
.setup-head-text {
  font-size: 1.5rem;
}
.softwear-list,
.hardwear-list {
  list-style-type: none;
  padding-inline: 0px;
}
.setup-list-title {
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.setup-text {
  opacity: 0.7;
}
