html {
  min-height: 100%;
}
body {
  background: linear-gradient(30deg, #000000);
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
  min-height: 100%;
}

.content-container {
  max-width: 80%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5%;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-block-start: 8rem;
}
h2 {
  font-size: 3.5rem;
}
.intro-text {
  flex: 0.5;
  font-size: 1.4rem;
  color: white;
  opacity: 0.9;
}
.button-container {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  align-items: flex-end;
}
.home-page-button {
  font-weight: 600;
  color: #e7e7e9;
  background: rgba(0, 0, 0, 0.699);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  max-width: 300px;
  padding: 25px 30px;
  font-size: 1rem;
}

.follow-button {
  margin-top: 10px;
}

.home-page-button:hover {
  transform: scale(1.05);
  background-color: rgba(145, 207, 1, 0.856);
  transition: all 0.2s ease-in;
}
.projects-container {
  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 1rem;
  max-width: 20%;
  margin: 0 auto 4%;
}
.other {
  padding: 10px 40px;
  color: #e7e7e9;
  font-size: 1.4rem;
}
.other-projects-title {
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  width: 10px;
 
}
.other-projects-text {
  opacity: 0.8;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card {
  background-color: rgba(0, 0, 0, 0.199);
}
.card:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.title {
  font-size: 22px;
  font-weight: 750;
  padding-bottom: 20px;
  color: white;
}
.project-img-todo,
.project-img-movie,
.project-img-data {
  border-radius: 5px;
  opacity: 0.6;
}
.card-text {
  color: white;
  opacity: 0.6;
}
#try {
  color: white;
  opacity: 0.8;
  font-size: 1.2rem;
}
#try:hover {
  transform: scale(1.05);
  background-color: rgba(145, 207, 1, 0.856);
  transition: all 0.3s ease-in;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
